*,
body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.orange {
  background-color: orange !important;
}

.ash {
  background-color: rgb(156, 155, 155) !important;
  color: black !important;
}

.App {
  text-align: center;
  background-color: rgb(123, 205, 238);
  height: 100vh;
  width: 100%;
  display: flex;
}

.calculator {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
}

.screen {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: right;
  /* font-weight: bold; */
  font-size: 70px;
  padding: 20px 10px 0px 10px;
}

.keys {
  display: grid;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  row-gap: 8px;
  width: 100%;
  height: 82%;
  margin: auto;
  /* padding: 8px; */
  /* border: 1px solid rgb(123, 205, 238); */
}

.row {
  width: 100%;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 15px;
  padding: 5px;
}

.zero-button {
  grid-column: 1 / 3;
  background-color: rgb(55, 55, 55);
  color: white;
  border-radius: 40px;
  border: none;
  font-size: 26px;
}

/* .last-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 15px;
  padding: 5px;
} */

.button {
  background-color: rgb(55, 55, 55);
  color: white;
  border-radius: 50%;
  border: none;
  font-size: 26px;
  /* font-weight: bold; */
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .calculator {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .calculator {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .calculator {
    width: 35%;
  }
}
